@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<p>Welcome to your new app.</p>
<br>

<p>Select counter page, increase count.</p>
<p>Select Weather page.</p>
<p>See the logs into <b>test.log file</b> and graylog</p>
